.pw-display {
	margin: 2rem;
	height: 100%;

	display: flex;	
	flex-direction: column;
	justify-content: space-around;
	gap: 2rem;
}

.pw-text {
	font-family: 'VT323';
	font-size: 4rem;
	text-align: center;

	color: var(--primary-color);

	border: 1px solid var(--secondary-color);
	border-radius: 10px;
}

.pw-copy {
	padding: 2rem;

	border: none;
	border-radius: 5px;

	font-family: 'VT323';
	font-size: 2rem;
	opacity: 0.8;

	background-color: var(--primary-color-light);
	box-shadow:
		-3px -1px 8px var(--primary-color-light),
		3px 1px 8px var(--primary-color-dark);

	transition: opacity .2s;
}

.pw-copy:hover {
	cursor: pointer;
	opacity: 1;
}

.pw-copy:active {
	background-color: var(--primary-color-dark);	
}
