.toggle {
	--toggle-ht: 4rem;
	--thumb-wd: 4rem;
	--slide-anim: width .5s;

	margin-block: 2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.label {
	width: max-content;

	color: var(--primary-color);
	font-size: 2.5rem;
	font-weight: bold;
}

.slider {
	width: 15rem;

	border-radius: 25px;

	box-shadow:
		-3px -1px 8px var(--primary-color-light),
		3px 1px 8px var(--primary-color-dark);
}

.slider-bg {
	height: var(--toggle-ht);

	border-radius: 25px;
	background-color: var(--primary-color-dark);
}

.slider-bg-left {
	width: min-content;
	transition: width .5s;
}

.slider-bg-right {
	width: 100%;
	transition: width .5s;
}

.thumb {
	width: var(--thumb-wd);
	height: 100%;

	float: right;

	font-family: 'VT323';
	font-weight: bold;
	font-size: 2rem;

	border: none;
	border-radius: 50%;

	opacity: 0.8;
	background-color: var(--primary-color-light);

	transition: opacity 0.2s, transform 0.2s;
}

.thumb:hover {
	cursor: pointer;

	transform: rotate(360deg);
	opacity: 1;
}
