.slider {
	padding-inline: 1rem;

	display: flex;
	align-items: center;
	gap: 2rem;
}

.range {
	width: 100%;
	height: .5rem;

	border-radius: 5px;
	background-color: var(--primary-color-dark);

	outline: none;
	appearance: none;
}

.value {
	width: 5rem;

	background-color: var(--primary-color-light);
}

.value-label {
	font-size: 1.7rem;
}

.range::-webkit-slider-thumb {
	background: var(--primary-color-light);

	appearance: none;
	-webkit-appearance: none;
}

.range::-moz-range-thumb {
	background: var(--primary-color-light);
	appearance: none;
}
