.slider {
	height: 5rem;

	color: var(--secondary-color);

	display: flex;
	align-items: center;
	gap: 2rem;
}

.header {
	padding-top: 2rem;

	font-size: 3rem;
	text-align: center;

	color: var(--primary-color);
}

.incr {
	width: 8rem;
	height: 100%;

	font-family: 'VT323';
	font-size: 3rem;
	font-weight: bold;

	border: none;
	border-radius: 50%;

	color: var(--primary-color-light);
	background: none;

	opacity: 0.8;
	transition: opacity 0.2s, transform 0.2s;
}

.incr:hover {
	cursor: pointer;
	transform: rotate(360deg);
	opacity: 1;
}

.range {
	width: 100%;
	height: .5rem;

	border-radius: 5px;
	background-color: var(--primary-color-dark);

	outline: none;
	appearance: none;
}

.range::-webkit-slider-thumb {
	background: var(--primary-color-light);

	appearance: none;
	-webkit-appearance: none;

	transition: opacity 0.1s;
}

.range::-moz-range-thumb {
	background: var(--primary-color-light);

	appearance: none;
	
	transition: transform 0.1s;
}

.range::-webkit-slider-thumb:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.range::-moz-range-thumb:hover {
	cursor: pointer;
	transform: scale(1.2);
}
